@media screen and (max-width:576px) {

    /* Banner Styles */
    header,
    .working {
        margin-bottom: 70px;
    }

    .banner-container {
        max-width: 95%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content {
        max-width: 100%;
    }


    .banner-image img {
        width: 100%;
        max-width: 430px;
        display: flex;
        justify-content: center;
        padding-left: 35px;
    }

    .banner-content p {
        line-height: 28px;
    }


    /* Working Section */

    .working-container {
        max-width: 95%;
        flex-direction: column-reverse;
    }

    .working-content p {
        line-height: 28px;
    }

}