@media screen and (max-width:576px) {

    header,
    .working,
    .experience {
        margin-bottom: 70px;
    }

    body {
        overflow-x: hidden;
    }

    /* Banner Styles */

    .banner-container {
        max-width: 92%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content {
        max-width: 100%;
    }


    .banner-image img {
        width: 100%;
        max-width: 430px;
        display: flex;
        justify-content: center;
        padding-left: 45px;
    }

    .banner-content p {
        line-height: 28px;
    }


    /* Working Section */

    .working-container {
        max-width: 92%;
        flex-direction: column-reverse;
    }

    .working-content p {
        line-height: 28px;
    }

    /* Experience Section */

    .experience {
        max-width: 92%;
    }

    .card p {
        line-height: 28px;
    }

    footer {
        width: 100%;
    }




}