* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

.primary-btn {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 25px;
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 0, 255, 0.575);
}


.banner-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
    align-items: center;
}

.banner-content {
    max-width: 850px;
}

.banner-content h1 {
    font-size: 40px;
    margin-bottom: 12px;
    font-weight: 700;
}

.banner-content h3 {
    font-size: 24px;
    margin-bottom: 13px;
    color: #474747;
}

.banner-content p {
    font-size: 16px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 16px;
}



.banner-image img {
    width: 100%;
    max-width: 350px;
}

/* Working Section related styles */


.working-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* background-color: bisque; */
    align-items: center;
}

.working-content {
    max-width: 700px;
}

.working-content h2 {
    font-size: 30px;
    margin-bottom: 13px;
    font-weight: 700;
}

.working-content h3 {
    font-size: 22px;
    margin-bottom: 13px;
    color: #474747;
}

.working-content p {
    font-size: 16px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 16px;
}



.working-image img {
    width: 100%;
    max-width: 450px;
    padding-left: 100px;
}